<!DOCTYPE html >
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <title>Почетна страна</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.js"></script>
</head>

<body>

<div id="glaven-container">

    <div id="title">
        <img th:src="@{/sliki/logo.png}" src="../static/sliki/logo.png" alt="logo">
    </div>

    <div id="glaven-content">

        <div style="margin-bottom: 2%;">

            <div class="two-text-boxes" style="margin-right: 2%; float: left">

                Со оваа страница можете да ги најдете сите барови и ноќни клубови во Карпош и Центар.
                Од десната страна се прикажани најдобро оценетите клубови во овој реон. Најпрво ќе бидат прикажани сите барови и ноќни клубови,
                но може да се изврши и пребарување на посакуван бар или ноќен клуб, што ќе ја прикаже неговата локација, како и достапни информации за истиот.<br/>
            </div>

            <div class="two-text-boxes" style="margin-left: 8%; margin-top: -3%">
                <ul>
                    <li> <span class="top10">Epicentar</span>
                    </li>
                    <br/>
                    <li> <span class="top10">Club Avenue</span>
                    </li>
                    <br/>
                    <li> <span class="top10">Sektor909</span>
                    </li>
                    <br/>
                </ul>
            </div>
        </div>
    </div>

    <div id="search-bar">
        <form th:method="POST" th:action="@{/}">
            <label>Search Location: <input type="text" placeholder="Search Location..." name="name"></label>
            <button type="submit">Submit</button>
        </form>
    </div>



    <div>
        Info about Bar/Nightclub:
        <br/>
        <td th:text="${name}"></td>
        <td th:text="${barOrClub}"></td>
        <br/>
        <td th:text="${x}"></td>
        <br/>
        <td th:text="${y}"></td>
        <br/>
        <td th:text="${contactInfo}"></td>
        <br/>
    </div>

    <br/>
    <div id="map"></div>

    <style>
        img.huechangeHome { filter: hue-rotate(120deg); }
        img.huechangeDesired { filter: hue-rotate(300deg); }
    </style>

    <script th:inline="javascript">

        let map = L.map('map', {
            center: [42.0057,21.4257],
            zoom: 13,
            gestureHandling: true
        });


        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,

        }).addTo(map);

        xCoordinates=[[${xCoordinates}]]
        yCoordinates=[[${yCoordinates}]]

        for (let i=0; i<[[${count}]]; i++)
        {
            var oneXCoordinate=xCoordinates[i];
            var oneYCoordinate=yCoordinates[i];
            let markerAll = new L.Marker([oneYCoordinate, oneXCoordinate]);
            markerAll.addTo(map);
        }

        var notNull=[[${lokal} != null]];

        if(notNull) {
            var x = [[${x}]];
            var y = [[${y}]];
            let markerDesired = new L.Marker([y, x]);
            markerDesired.addTo(map);
            markerDesired._icon.classList.add("huechangeDesired");
        }

        navigator.geolocation.getCurrentPosition(function(position) {
            // Get the user's current latitude and longitude coordinates
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            let markerHome = L.marker([lat, lng]);
            markerHome.addTo(map);
            markerHome._icon.classList.add("huechangeHome");
        });
    </script>

</div>
</body>

</html>