#glaven-container
{
    background-color: #13101a;
    width: 60%;
    height: 90%;
    color: white;
    margin: auto;
    animation: fade-in 500ms;
    padding: 2%;
}



@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 100%;
    }
}


body
{
    background-image: url('sliki/background-slika.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;

}

#glaven-container.child
{
    width: 90%;
}

.two-text-boxes
{
    display: inline-block;
    width: 40%;
    text-align: justify;
}

#search-bar, #search-bar-2{
    margin: auto 0 2% 0;
    width: 50%;
}

#map
{
    color: black;
    height: 600px;
    margin: auto;
}

#search-bar input, #search-bar-2 input
{
    background-color: #b4b5ef;
    width: 60%;
}

ul
{
    list-style-image: url("sliki/bullet.png");
    margin-top: 0;
}

.top10 {
    /*
    margin-left: 100px;
    */
    /*
    margin-top:4px;
    */
    /*
    width:110px;
    */
    /*
    height:95px;
    */
    /*
    margin-right:7px;
    */
    font-size:35px;
    color:#fff;
    /*
    line-height:1.2em;
    */
    font-weight: bold;
/*    padding-top:15px;*/

}